@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

:root{
    --txt-color : #ececec;
    --bg-color: #222831;
    --prim-color : #f2a365;
    --sec-color : #3f3d56;
    --ult-bg-color:#13161a;
}

.ultra-bg{
    background-color: var(--ult-bg-color);
}

.padding-remover{
    padding-inline-start: 0px;
}

body{
    background-color: var(--bg-color);
    color:var(--txt-color);
    font-family: 'Kanit', sans-serif;

    max-width:600px;
    margin:auto;    

    padding-inline-start: 0px;
}

.centerify{
    text-align:center;
}

.justifiy{
    text-align: justify;
}

/**hero intro content**/
.hero{
    max-width:600px;
    text-align: center;
    margin:auto;   
    padding: 1rem 0rem;
}

/**aboutme**/
.aboutme{
    max-width:600px;
    text-align: center;
    margin:auto;   
    padding: 1rem 1.5rem;
    margin-bottom:1rem;
}

.hero .lineheight{
    line-height: 0.1rem;
    font-size: 1rem;
}

.hero .myname{
    color:var(--prim-color);
    font-size: 2rem;
}

.hero .subtro{
    line-height: 0.4rem;
    font-style: ;
}

.hero-img{
    max-width:400px;
    margin:auto;
}

.prim-link{
    text-decoration: none;
    font-weight: bolder;
    color:var(--bg-color);
    background-color: var(--prim-color);
    padding: 0.5rem 3rem;
    
    border-radius: 0.2rem;
    

    margin:0.5rem 0.5rem 0.5rem 0.5rem;
}

.sec-link{
    text-decoration: none;
    color:var(--prim-color);
    background-color: var(--sec-color);
    
    padding: 0.3rem 2rem;
    
    border-radius: 0.2rem;
    border-color: var(--prim-color);
    border-style:inset;

    margin:0.5rem 0.5rem 0.5rem 0.5rem; 

}

.light-section{
    background-color: var(--sec-color);
    padding:0.1rem 1rem 0.1rem;
    border-radius: 0.5rem;
    margin-bottom:1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.normal-section{
    border: var(--sec-color);
    padding:0.1rem 1rem 0.1rem;
    border-radius: 0.5rem;
    border-style: solid;
    margin-bottom:0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/**work-exp zone**/
.work-time-period{
    font-size: 1rem;
    line-height: 0rem;
    padding: 3rem 0rem 0rem 0rem;
    text-align: right;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.work-expe{
    padding:0rem 2rem 2rem 2rem;
    
}

.work-expe .head-main{
    color:var(--prim-color);
    text-align: right;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.work-expe .subhead{
    background-color:var(--prim-color);
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.2rem;
    color:var(--sec-color);
    text-align: right;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.work-expe .prim-link{
    margin: auto;
    display: block;
    text-align: center;
    max-width: 5rem;
}


/**projects zone**/
.numbering{
    font-size: 2rem;
    line-height: 0rem;
    padding: 3rem 0rem 0rem 0rem;
    text-align: right;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.projects{
    padding:0rem 2rem 2rem 2rem;
    
}

.projects .head-main{
    color:var(--prim-color);
    text-align: right;
    margin-bottom: 0rem;
}

.projects .subhead{
    background-color:var(--prim-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    color:var(--sec-color);
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.projects .prim-link{
    margin: auto;
    display: block;
    text-align: center;
    max-width: 5rem;
}


.link{
    text-decoration: none;
    
}

.non-bullet{
    list-style: none;    
}

.list-inline{
    display:inline;
    padding:0rem 0.6rem 0rem 0.6rem;
}

/**navigation**/
.navbar{
    background-color:var(--prim-color);
    padding:0.1rem 1rem;
    color:var(--bg-color);
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
}

.list-pills-center{
    text-align:center;
}

.navbar .navlinks{
    color:var(--txt-color);
}

.navbar .active{
    font-weight: bold;
    border-style:solid;
    color:var(--sec-color);
    border-color: var(--sec-color);
    padding:0.1rem 0.5rem;f
    
}

.banner-name{
    letter-spacing:1.2rem;
    text-align: center;
    text-indent: 1.2rem;
    color:var(--sec-color);
}


/**footer**/
.foot{
    background-color: var(--ult-bg-color);

    padding:1rem 1rem 5rem;

}

.foot .footlinks{
    color:var(--prim-color);
    padding:0rem 1rem;
}


/**youtube player**/
.video-player {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-player::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}